
html, body {
    background-color: #B1C3D9;
    margin: 5px;
}

.instructions {
    font-size: 12px;
    margin-bottom: 10px;
}

#sContent
{
    color: yellow;
    margin-bottom: 10px;
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
}

.citno
{
    display: inline;
    color: red;
}

.author{
    display: inline;
    float: left;
}

.other {
    display: inline;
    float: left;
}

.clear {
    clear: both;
}

.submit {
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer {
    display: inline;
    font-size: 10px;          
}

.copyright {
    display: inline;
    font-size: 10px;
    margin-left: 10px;          
}

.stats
{
    font-size: 12px;
    color: Black;
    border-bottom: black 1px solid;
}