
html, body {
    background-color: #E5ECF9;
    margin: 5px;
}

.instructions
{
    font-size: 12px;
    margin-bottom: 10px;
    background-color: #FFF4C2;
    border-right: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    padding: 3px;
}

#sContent
{
    background-color: White;
    margin-bottom: 10px;
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-size: 10pt;
    display: none;
}

.citno
{
    display: inline;
    color: Blue;
}

.author{
    display: inline;
    float: left;
}

.other {
    display: inline;
    float: left;
}

.clear {
    clear: both;
}

.submit {
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer {
    display: inline;
    font-size: 10px;          
}

.copyright {
    display: inline;
    font-size: 10px;
    margin-left: 10px;          
}

.stats
{
    background-color: #3366CC;
    font-size: 12px;
    color: White;
    border-bottom: black 1px solid;
}

.sTerm
{
    display: inline;
    font-style: italic;
    color: red;
}

#loading
{
    display: none;
}